# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.*.backup
Homestead.yaml
Homestead.json
.env.backup
.phpunit.result.cache
storage/debugbar

# OS/macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor
*.sublime-workspace
*.sublime-project
.vscode/
.idea/
*.code-workspace

# Composer
composer.phar

# NPM
npm-debug.log
yarn-error.log
pnpm-debug.log

# Laravel log & cache
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

# Misc
*.sqlite
*.zip
*.rar
